.mt-custom-10{
  margin-top: -10% !important;
}
.mt-10-custom-special{
  background-color: #AE2A2F;
  height:20rem;
  width:100%;
  padding-top: 8rem;
}
.mt-5-parcent{
  margin-top:-5% !important;
}
.font-size-card-i{
  font-size: .8rem;
}

/* media query */
@media only screen and (max-width: 768px) {
  #profile-wrap-id{
    margin-left:0px !important;
    margin-top:.5rem !important;
  }
}
